/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  /* Marvel Colors */
  --marvelBlack: #202020;
  --marvelRed: #ec1d24;
  --marvelBlue: #3a67d2;
  --marvelLightGrey: #f2f2f2;
  --marvelDetail: #c6a972;
  --marvelBorder: #393939;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
